@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #f9fafb;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer utilities {
  .parallelogram {
    @apply transform items-center -translate-x-1/2 -translate-y-1/2;
    transform: translate(-50%, -50%) skew(-20deg);
  }
}

.roboto {
  font-family: var(--font-roboto);
}

.josefin {
  font-family: var(--font-josefin);
}

.bebas {
  font-family: var(--font-bebas);
}

.bricolage {
  font-family: var(--font-bricolage);
}

.lato {
  font-family: var(--font-lato);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}